<nav th:fragment="navbarReceta" class="navbar navbar-expand-lg navbar-dark position-absolute w-100">
    <div class="container navbarContainer">
        <a class="navbar-brand fw-bold" href="/">RecetApp</a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div  class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        🍽️
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/usuario/miperfil">Mi Perfil</a></li>
                        <li><a class="dropdown-item" href="/receta/listarPorUsuario">Ver mis recetas</a></li>
                        <li><a class="dropdown-item" href="/receta/">Ver todas las recetas</a></li>
                    </ul>
                <li class="nav-item d-flex">
                    <a class="nav-link align-self-center text-white" href="/logout">Salir</a>
                </li>


            </ul>
            <form action="/receta/listaRecetasPorNombre" class="d-flex" method="POST">
                <input class="form-control me-2" type="text" name="nombre" placeholder="buscar receta">
                <button class="btn" type="submit" style="background-color:#E27227">Buscar</button>
            </form>
        </div>
    </div>
</nav>