@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/*=================== VARIABLES CSS ===============*/
:root{
    /* ======== COLORES ========*/
    --first-color: #E27227;
    --input-color: #80868B;
    --border-color: #000000;

    /*========== FUENTE Y TIPOGRAFIA */
    --body-font: 'Roboto', sans-serif;
    --normal-font-size: 1rem;
    --small-font-sieze: .75rem;
}

/* ================ BASE =================*/
*,::before,::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family:var(--body-font);
    font-size:var(--normal-font-size);
    background-image: url(/imagenes/pasta.jpg);
   
}




h1{
    margin: 0;
    padding: 5px;
}

.footer{
    background-color: #222222    ;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0px;
    padding-top: 0px;
    position: absolute;
    bottom: 0%;
    width: 100%;
}
.navbar-nav{
    padding-right: 0.5rem;
}

/*=================== FORM ================*/
.l-form{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.form{
    background-color: #FFFFFF;
    width: 400px;
    height: 700px;
    padding: 3rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.form_tittle{
    font-weight: 400;
    margin-bottom: 3rem;
    padding: 1px;
}

.form_div{
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
    padding: 10px;
}

.form_input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    outline: none;
    padding: 0.5rem;
    background: none;
    z-index: 1;
}

.form_label{
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0.25rem;
    background-color: #fff;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .3s;
    
}

.form_butom{
    display: block;
    margin-left: auto;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
    justify-content: center;
    align-items: center;
}
.form-control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: var(--border-color);
    border-radius: .5rem;
    padding: 0.5rem;
    border-width: 5px;
    
}

.form_input:focus + .form_label{
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-sieze);
    font-weight: 500;
    z-index: 10;
}

.form_input:not(:placeholder-shown).form_input:not(:focus)+ .form_label{
    top: -.5rem;
    left: .8rem;
    font-size: var(--small-font-sieze);
    font-weight: 500;
    z-index: 10;
}

.form_input:focus{
    border: 1.5px solid var(--first-color);
}
.select_container{
    width: 400px;
    margin: 1em auto;
}
.select_label{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px;
}
.select{
    outline: 1px solid red;
    width: 250px;
    position: relative;
}
.selected-option{
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 3px;
    border: .5px solid #ccc;
}
.icon.select-value{
    padding: 10px 15px;
}
.icon{ 
    border-left: .5px solid #ccc;

}
.option{
    position: absolute;
    background-color: #ccc;
    width: 100%;
}
p{text-align: center;}
