#header{
    margin-top: 0px;
    padding: 0px;
    border: 0px;
}
#comoFunciona{
    margin-bottom: 0px;
    background-color: #E27227;
}

#comoFunciona .card{
    border-radius: 0%;
    margin: 15px;
}

.card-body{
    text-align: center;
}

.footer{
    background-color: #222222    ;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0px;
    padding-top: 0px;
}

.tituloPpal{
    text-align: center;
    color: #222222;
}

#main{
margin:0px;
padding-bottom: 5px;
background-color: #FFC248;
}






//STYLE MIPERFIL//
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/*=================== VARIABLES CSS ===============*/
:root{
    /* ======== COLORES ========*/
    --first-color: #E27227;
    --input-color: #80868B;
    --border-color: #000000;

    /*========== FUENTE Y TIPOGRAFIA */
    --body-font: 'Roboto', sans-serif;
    --normal-font-size: 1rem;
    --small-font-sieze: .75rem;
}

/* ================ BASE =================*/
*,::before,::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}



h1{
    margin: 0;
}

.footer{
    background-color: #222222    ;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0px;
    padding-top: 0px;
}

/*=================== FORM ================*/
.l-form{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.img-responsive{
    background-image:url(Img4.jpg);
}

.form{
    background-color: #FFFFFF;
    width: 385px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.form_tittle{
    font-weight: 400;
    margin-bottom: 3rem;
}

.form_input:focus + .form_label{
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-sieze);
    font-weight: 500;
    z-index: 10;
}

.form_input:not(:placeholder-shown).form_input:not(:focus)+ .form_label{
    top: -.5rem;
    left: .8rem;
    font-size: var(--small-font-sieze);
    font-weight: 500;
    z-index: 10;
}

.form_input:focus{
    border: 1.5px solid var(--first-color);
}

.btn-default{
    
    margin-left: auto;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;

}




//STYLE INGRESO//
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/*=================== VARIABLES CSS ===============*/
:root{
    /* ======== COLORES ========*/
    --first-color: #E27227;
    --input-color: #80868B;
    --border-color: #000000;

    /*========== FUENTE Y TIPOGRAFIA */
    --body-font: 'Roboto', sans-serif;
    --normal-font-size: 1rem;
    --small-font-sieze: .75rem;
}

/* ================ BASE =================*/
*,::before,::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}



h1{
    margin: 0;
}

.footer{
    background-color: #222222    ;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0px;
    padding-top: 0px;
}

/*=================== FORM ================*/
.l-form{
    background-color: #ffc248;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form{
    background-color: #FFFFFF;
    width: 360px;
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.form_tittle{
    font-weight: 400;
    margin-bottom: 3rem;
}

.form_div{
    position: relative;
    height: 48px;
    margin-bottom: 1.5rem;
}

.form_input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: var(--normal-font-size);
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}

.form_label{
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 .25rem;
    background-color: #fff;
    color: var(--input-color);
    font-size: var(--normal-font-size);
    transition: .3s;
}

.form_butom{
    display: block;
    margin-left: auto;
    padding: .75rem 2rem;
    outline: none;
    border: none;
    background-color: var(--first-color);
    color: #fff;
    font-size: var(--normal-font-size);
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}

.form_butom:hover{
    box-shadow: 0 10px 36px rgba(0, 0, 0, .15);
}

.form_input:focus + .form_label{
    top: -.5rem;
    left: .8rem;
    color: var(--first-color);
    font-size: var(--small-font-sieze);
    font-weight: 500;
    z-index: 10;
}

.form_input:not(:placeholder-shown).form_input:not(:focus)+ .form_label{
    top: -.5rem;
    left: .8rem;
    font-size: var(--small-font-sieze);
    font-weight: 500;
    z-index: 10;
}

.form_input:focus{
    border: 1.5px solid var(--first-color);
}
