<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>RecetApp - Editar</title>
    <link href="../imagenes/logoTitle-02-01.ico" rel="shortcut icon" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="../../styleReceta.css" rel="stylesheet">
        </head>

<body>
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">RecetApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </nav>
    </header>
    
<main>
        <section id="seccion1Perfil">
        <div class="row g-0 h-100">
            <div class="col-lg-12 d-flex">
                <div class="content mx-auto align-self-center px-4 my-5">
                    <h2 class="fw-bold tituloReceta">Complete su perfil</h2>
                </div>
            </div>
        </div>
        <div class="container align-self-center formContainer">
        <form class="formUsuario" enctype="multipart/form-data" method="POST" th:action="@{/usuario/{id}(id=${usuario.id})}"
              th:object="${usuario}">
            <label class="form-label">Nombre</label> <br>
            <input class="form-control" name="nombre" th:field="*{nombre}" type="text"> <br>
            <label class="form-label">Apodo</label> <br>
            <input class="form-control" name="apodo" th:field="*{apodo}" type="text"> <br>
            <label class="form-label">Una foto bonita</label> <br>
            <input class="form-control" name="foto" th:field="*{foto}" type="file"> <br>
            <label class="form-label">Categoría</label> <br>
            <select class="form-control" name="categoria">
                <option th:each="cat : ${categoria}" th:text="${cat.getNombre()}" th:value="${cat}"></option>
            </select>
            <br>
            <label class="form-label text-white">Email</label> <br>
            <input class="form-control" name="mail" th:field="*{mail}" type="email"> <br>
            <label class="form-label text-white">Contraseña</label> <br>
            <input class="form-control" name="contrasena" th:field="*{contrasena}" type="password"> <br>
            <br>
            <button class="btn btn-primary" type="submit">Guardar</button>
        </form>
        </div>
    </section>
       
</main>
     <footer class="footer bg-dark">
        <div class="col-lg-12 col-md-12">
          <small>2022. RecetApp. Todos los derechos reservados</small>
        </div>
    </footer>
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ffec4ec2ed.js" crossorigin="anonymous"></script>
   
</body>

</html>