<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registro.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>RecetApp - Registro</title>
    <link rel="shortcut icon" href="logoTitle-02-01.ico">
</head>
<body>
 <!-- <div class="lds-spinner loader" id= loader><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
 -->
  </div>
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">RecetApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/ingreso">Ingresar</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </header>

    <div class="l-form">
        <p th:if="${error != null}" th:text="${error}"></p>
        <form action="/registro" class="form" enctype="multipart/form-data"
                method="post">
            <h1 class="form_tittle">Registro</h1>

            <div class= "form_div">
              <input class= "form_input" type="file" name="foto" placeholder="">
              <label for="" class="form_label"> Elige una foto </label></div>

            <div class="form_div">
                <input type="text" class="form_input" name="nombre" placeholder="">
                <label for="" class="form_label">Nombre</label>
            </div>

            <div class="form_div">
                <input type="text" class="form_input" name="apodo" placeholder="">
                <label for="" class="form_label">Apodo</label>
            </div>
            
             <div class="form_div">
             <select class="form-control" name="categoria">
                 <option selected>Tu categoría...</option>
            <option  th:each="cat : ${categoria}" th:text="${cat.getNombre()}" th:value="${cat}" ></option>
          </select>
              </div>
            

            <div class="form_div">
                <input type="email" class="form_input" name="mail" placeholder="">
                <label for="" class="form_label">Email</label>
            </div>

            <div class="form_div">
                <input type="password" class="form_input" name="contrasena" placeholder="">
                <label for="" class="form_label">Contraseña</label>
            </div>

            <input type="submit" class="form_butom" value="Registrarme">

            <p>¿Ya tienes una cuenta? <a class="link " href="/ingreso"> Iniciar sesion</a></p>
        </form>
    </div>
    <footer class="footer bg-dark">
      <div class="col-lg-12 col-md-12">
          <small>2022. RecetApp. Todos los derechos reservados</small>
      </div>
  </footer>
<!--<script src="main.js"></script>-->
</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</body>
</html>

